WCF/0426_papago/papago_form/papago_form/Connected Services/ServiceReference1/Papago.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Papago" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/wcf/xample/Ipapago?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/wcf/xample/Ipapago?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPapago_papago_InputMessage">
    <wsdl:part name="parameters" element="tns:papago" />
  </wsdl:message>
  <wsdl:message name="IPapago_papago_OutputMessage">
    <wsdl:part name="parameters" element="tns:papagoResponse" />
  </wsdl:message>
  <wsdl:message name="IPapago_RetMssage_InputMessage">
    <wsdl:part name="parameters" element="tns:RetMssage" />
  </wsdl:message>
  <wsdl:message name="IPapago_RetMssage_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetMssageResponse" />
  </wsdl:message>
  <wsdl:portType name="IPapago">
    <wsdl:operation name="papago">
      <wsdl:input wsaw:Action="http://tempuri.org/IPapago/papago" message="tns:IPapago_papago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPapago/papagoResponse" message="tns:IPapago_papago_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetMssage">
      <wsdl:input wsaw:Action="http://tempuri.org/IPapago/RetMssage" message="tns:IPapago_RetMssage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPapago/RetMssageResponse" message="tns:IPapago_RetMssage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPapago" type="tns:IPapago">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="papago">
      <soap:operation soapAction="http://tempuri.org/IPapago/papago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetMssage">
      <soap:operation soapAction="http://tempuri.org/IPapago/RetMssage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Papago">
    <wsdl:port name="BasicHttpBinding_IPapago" binding="tns:BasicHttpBinding_IPapago">
      <soap:address location="http://localhost/wcf/xample/Ipapago" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>