WCF/0426_WCF/0426_DBWCFClient/0424_DBWCFClient/Connected Services/ServiceReference2/MemberService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MemberService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/wcf/example/MemberService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/wcf/example/MemberService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/wcf/example/MemberService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_0426_DBWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMemberService_InsertMember_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMember" />
  </wsdl:message>
  <wsdl:message name="IMemberService_InsertMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberService_SelectMember_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectMember" />
  </wsdl:message>
  <wsdl:message name="IMemberService_SelectMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberService_SelectAllMember_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllMember" />
  </wsdl:message>
  <wsdl:message name="IMemberService_SelectAllMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllMemberResponse" />
  </wsdl:message>
  <wsdl:portType name="IMemberService">
    <wsdl:operation name="InsertMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/InsertMember" message="tns:IMemberService_InsertMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/InsertMemberResponse" message="tns:IMemberService_InsertMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/SelectMember" message="tns:IMemberService_SelectMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/SelectMemberResponse" message="tns:IMemberService_SelectMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/SelectAllMember" message="tns:IMemberService_SelectAllMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/SelectAllMemberResponse" message="tns:IMemberService_SelectAllMember_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMemberService" type="tns:IMemberService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertMember">
      <soap:operation soapAction="http://tempuri.org/IMemberService/InsertMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMember">
      <soap:operation soapAction="http://tempuri.org/IMemberService/SelectMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllMember">
      <soap:operation soapAction="http://tempuri.org/IMemberService/SelectAllMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberService">
    <wsdl:port name="BasicHttpBinding_IMemberService" binding="tns:BasicHttpBinding_IMemberService">
      <soap:address location="http://localhost/wcf/example/MemberService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>