WCF/0427_File(WPF_Client)/0427_File(WPF_Client)/Connected Services/ServiceReference1/CFile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CFile" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFile_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9001/GetFileService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9001/GetFileService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9001/GetFileService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_0427_File_Server_" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFile_UpLoadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpLoadFile" />
  </wsdl:message>
  <wsdl:message name="IFile_UpLoadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpLoadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFile_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IFile_Join_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinResponse" />
  </wsdl:message>
  <wsdl:message name="IFile_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="IFile_FileRecive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FileRecive" />
  </wsdl:message>
  <wsdl:message name="IFile_UserEnter_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserEnter" />
  </wsdl:message>
  <wsdl:message name="IFile_UserLeave_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserLeave" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IFile">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpLoadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFile/UpLoadFile" message="tns:IFile_UpLoadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFile/UpLoadFileResponse" message="tns:IFile_UpLoadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IFile/Join" message="tns:IFile_Join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFile/JoinResponse" message="tns:IFile_Join_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="Leave">
      <wsdl:input wsaw:Action="http://tempuri.org/IFile/Leave" message="tns:IFile_Leave_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FileRecive">
      <wsdl:output wsaw:Action="http://tempuri.org/IFile/FileRecive" message="tns:IFile_FileRecive_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserEnter">
      <wsdl:output wsaw:Action="http://tempuri.org/IFile/UserEnter" message="tns:IFile_UserEnter_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserLeave">
      <wsdl:output wsaw:Action="http://tempuri.org/IFile/UserLeave" message="tns:IFile_UserLeave_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFile" type="tns:IFile">
    <wsp:PolicyReference URI="#NetTcpBinding_IFile_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="UpLoadFile">
      <soap12:operation soapAction="http://tempuri.org/IFile/UpLoadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/IFile/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap12:operation soapAction="http://tempuri.org/IFile/Leave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FileRecive">
      <soap12:operation soapAction="http://tempuri.org/IFile/FileRecive" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserEnter">
      <soap12:operation soapAction="http://tempuri.org/IFile/UserEnter" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLeave">
      <soap12:operation soapAction="http://tempuri.org/IFile/UserLeave" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CFile">
    <wsdl:port name="NetTcpBinding_IFile" binding="tns:NetTcpBinding_IFile">
      <soap12:address location="net.tcp://localhost:8001/FileService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8001/FileService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>