WCF/0427_File(WPF_Client)/0427_File(WPF_Client)/Connected Services/ServiceReference1/GetFileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_0427_File_Server_" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_0427_File_Server_" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudentData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentData" nillable="true" type="tns:StudentData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentData" nillable="true" type="tns:ArrayOfStudentData" />
  <xs:complexType name="StudentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flag" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeatNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentData" nillable="true" type="tns:StudentData" />
</xs:schema>