WCF/0425_DB사용WebService/0425_MemberDB/0425_MemberDB/Web References/localhost/MemberService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertMemberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAllMember">
        <s:complexType />
      </s:element>
      <s:element name="SelectAllMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllMemberResult" type="tns:ArrayOfMember" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Member" nillable="true" type="tns:Member" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Member">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelectMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectMemberResult" type="tns:Member" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Function">
        <s:complexType />
      </s:element>
      <s:element name="FunctionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FunctionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertMemberSoapIn">
    <wsdl:part name="parameters" element="tns:InsertMember" />
  </wsdl:message>
  <wsdl:message name="InsertMemberSoapOut">
    <wsdl:part name="parameters" element="tns:InsertMemberResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAllMemberSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAllMember" />
  </wsdl:message>
  <wsdl:message name="SelectAllMemberSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllMemberResponse" />
  </wsdl:message>
  <wsdl:message name="SelectMemberSoapIn">
    <wsdl:part name="parameters" element="tns:SelectMember" />
  </wsdl:message>
  <wsdl:message name="SelectMemberSoapOut">
    <wsdl:part name="parameters" element="tns:SelectMemberResponse" />
  </wsdl:message>
  <wsdl:message name="FunctionSoapIn">
    <wsdl:part name="parameters" element="tns:Function" />
  </wsdl:message>
  <wsdl:message name="FunctionSoapOut">
    <wsdl:part name="parameters" element="tns:FunctionResponse" />
  </wsdl:message>
  <wsdl:portType name="MemberServiceSoap">
    <wsdl:operation name="InsertMember">
      <wsdl:input message="tns:InsertMemberSoapIn" />
      <wsdl:output message="tns:InsertMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllMember">
      <wsdl:input message="tns:SelectAllMemberSoapIn" />
      <wsdl:output message="tns:SelectAllMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectMember">
      <wsdl:input message="tns:SelectMemberSoapIn" />
      <wsdl:output message="tns:SelectMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Function">
      <wsdl:input message="tns:FunctionSoapIn" />
      <wsdl:output message="tns:FunctionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MemberServiceSoap" type="tns:MemberServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertMember">
      <soap:operation soapAction="http://tempuri.org/InsertMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllMember">
      <soap:operation soapAction="http://tempuri.org/SelectAllMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMember">
      <soap:operation soapAction="http://tempuri.org/SelectMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Function">
      <soap:operation soapAction="http://tempuri.org/Function" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberServiceSoap12" type="tns:MemberServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertMember">
      <soap12:operation soapAction="http://tempuri.org/InsertMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllMember">
      <soap12:operation soapAction="http://tempuri.org/SelectAllMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMember">
      <soap12:operation soapAction="http://tempuri.org/SelectMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Function">
      <soap12:operation soapAction="http://tempuri.org/Function" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberService">
    <wsdl:port name="MemberServiceSoap" binding="tns:MemberServiceSoap">
      <soap:address location="https://localhost:44340/MemberService.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberServiceSoap12" binding="tns:MemberServiceSoap12">
      <soap12:address location="https://localhost:44340/MemberService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>