WCF/0426_WCF/0426_DBWCFClient/0424_DBWCFClient/Connected Services/ServiceReference1/MemberService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/wcf/example/MemberService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_0426_DBWCF" />
  <xs:element name="InsertMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMemberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/_0426_DBWCF" minOccurs="0" name="SelectMemberResult" nillable="true" type="q1:Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllMember">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/_0426_DBWCF" minOccurs="0" name="SelectAllMemberResult" nillable="true" type="q2:ArrayOfMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>